@import '../../css/vars.less';
@import '../../css/utils.less';


#partners{

  .content-section.top{
    border-bottom: 1px solid @border;
    padding-bottom: 1rem;

    .content-section-title{
      margin: 0;
    }
  }


  .partners-holder{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 2rem 0;

    .partner-card{

      .card;
      display: flex;
      flex-direction: column;
      color: @text;
    //  box-shadow: none;

      margin: 0;

      .partner-image-holder{
        padding: 2rem;
        padding-bottom: 1rem;
        flex: 0;

        .user-avatar{
          box-shadow: none;
          width: 12rem;
          height: 12rem;
          border-radius: 40%;
        }
      }

      .card-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        flex: 1;
        padding: 1.5rem;
        padding-top: 0.5rem;


      }

      .card-footer{
        flex: 0;
        background: @back-gray;
        transition: all 200ms;
        padding: 0;

        a{
          color: @text;
          font-weight: 700;
          display: block;
          padding: 1rem;
          width: 100%;

        }
      }

      .card-footer:hover{
        background: @gray;
      }


      img.profile-pic{

      }

      h3.partner-name{
        font-size: 1.5rem;
        margin: 0;
        margin-bottom: 0.5rem;
      }

      span.partner-role{
        display: block;
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      span.partner-organisation{
        font-weight: normal;
        display: block;
        margin-bottom: 0.5rem;
      }

      .partner-location{
        margin-bottom: 0.5rem;
      }

      .partner-experience{
        margin-bottom: 0.5rem;
      }

      .tags{
        margin-top: 0.25rem;

        li {
          margin-bottom: 0.25rem;
        }
      }




      .button{
        text-align: center;
        width: 100%;
      }
    }

    .partner-card.striped{

      .tag-row{
        display: flex;
        align-items: center;
        border-top: 1px solid @border;
        width: 100%;
        padding: 0.25rem 0.25rem 0.25rem 0.5rem;

        > label {
          flex: 0 0 125px;
          width: 200px;
          font-size: 0.9rem;
          display: flex;
          align-items: center;
          opacity: 0.6;

          ion-icon{
            font-size: 1.25rem;
            display: inline-block;
            margin-right: 0.25rem;
          }

        }

        ul.tags-list, > span{
          flex: 1;
        }
      }

    }

    .partner-card:hover{
      border: 1px solid @dark-gray;
    }

  }
}


@media (max-width: 1500px) {
  #partners{

    .partners-holder{
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 1500px) {
  #partners{

    .partners-holder{
      grid-template-columns: 1fr 1fr;
    }
  }
}
