<template name="dashboard_nav">

  <nav class="side-nav">

    <ul class="nav-list side-nav-list">
      <li>
        <a href="#">
          <ion-icon name="calendar-outline"></ion-icon><span>Upcoming</span>
        </a>
      </li>

      <li>
        <a href="{{pathFor 'coachees'}}">
          <ion-icon name="people-outline"></ion-icon><span>Coachees</span>
        </a>
      </li>

      <li>
        <a href="#">
          <ion-icon name="folder-open-outline"></ion-icon><span>Active Programs</span>
        </a>
      </li>

      <li>
        <a href="#">
          <ion-icon name="wallet-outline"></ion-icon><span>Pay Runs</span>
        </a>
      </li>

      <li>
        <a href="#">
          <ion-icon name="arrow-redo-outline"></ion-icon><span>Referrals</span>
        </a>
      </li>

      <li>
        <a href="#">
          <ion-icon name="person-circle-outline"></ion-icon><span>My profile</span>
        </a>
      </li>
    </ul>

  </nav>

</template>
