@import '../css/vars.less';
@import '../css/utils.less';

.popup-holder {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  top: 0;
  bottom: 0;
  padding-top: 4rem;
  z-index: 9999;
  position: absolute;
  .animfadeIn;

  .close-popup {
    position: absolute;
    right: 0.5rem;
    top: 2rem;
    font-size: 1.5rem;
    color: rgba(0,0,0,0.15);
    cursor: pointer;
    z-index: 999;
    display: inline-block;
    padding: 1rem;
  }

  .close-popup:hover {
    color: @error;
  }
}

.popup-back {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(250,250,255,0.75);
  z-index: 888;
}

.popup-content {
  box-shadow: 0 15px 30px rgba(0,0,100,0.45);
  background: #fff;
  border-radius: 0.5rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  box-sizing: border-box;
  width: 700px;
  max-width: 100%;
  margin: 0 auto 4rem;
  color: @black;
  border: none;
  position: relative;
  z-index: 999;
  overflow: visible;
}



.slide-out-back{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 888;
}


.slide-out{
  position: fixed;
  z-index: 9999;
  right: -700px;
  width: 700px;
  top: 0;
  bottom: 0;
  background: #fff;
  border-left: 1px solid @border;
  box-shadow: -10px 0px 30px rgba(0,0,20,0.15);
  transition: all 400ms;
  display: flex;
  flex-direction: column;


  .slide-out-nav{
    .flex-bar;
    cursor: pointer;
    padding: 0.25rem;
    flex: 0;

    .slide-out-header{
      margin: 0;
      color: @black;
      font-size: 1rem;
      font-weight: bold;
    }


    .slide-out-nav-button{
      font-size: 1.5rem;
      padding: 0.25rem;
      transform: rotate(180deg);
      transition: all 200ms;
      display: inline-block;
      .flex-center;

    }

    .slide-out-nav-button:hover{
      background: @gray;
      border-radius: 0.25rem;
    }

  }

  .slide-out-content{
    overflow: auto;
    flex: 1;
  }

}





.slide-out.open{

  .slide-out-nav-button{

    transform: rotate(0);
  }

}

.slide-out.open{
  right: 0;
}



.progress-holder {
  width: 80px;
  display: block;
  text-align: center;
  position: relative;
  top: 0.5rem;

  .progress-bar {
    height: 8px;
    background: @gray;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;

    .progress {
      background: #b9f591;
      position: absolute;
      left: 0;
      height: 8px;
      top: 0;
      width: 0;
    }
  }

  .progress-label{
    margin-top: 0.25rem;
    display: inline-block;
  }
}


#layoutApp {
  background: #fff;

  .container {
    max-width: 1800px;
  }



  .main-template-holder{

    max-width: 1800px;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .nav-holder {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 777;
  }

  .content-frame {
    padding-top: 6rem;
    padding-left: 200px;
    display: flex;
    margin: 0 auto;
    width: 100%;
    transition: all 400ms;

    .side-nav-holder {
      position: fixed;
      width: 200px;
      left: 0;
      top: 0;
      padding-top: 5rem;
      height: 100%;
      flex: 0 0 auto;
      margin-right: 2rem;
      border-right: 1px solid @border;
      background: #fff;
    }

  }
}

.blur{
  filter: blur(3px);
  opacity: 0.5;


}
